<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcF5K1IJCr7qdn6HdjRLxCZmQ_5osxbCs</string>
	<key>GCM_SENDER_ID</key>
	<string>813525522600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jwsplashgames.quiz</string>
	<key>PROJECT_ID</key>
	<string>jwsplashgames-fc4a1</string>
	<key>STORAGE_BUCKET</key>
	<string>jwsplashgames-fc4a1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813525522600:ios:c7e69a25ec86d7e7a44a9d</string>
	<key>DATABASE_URL</key>
	<string>https://jwsplashgames-fc4a1-default-rtdb.firebaseio.com</string>
</dict>
</plist>